html {
  height: 100%;
}

body {
  height: 100%;
}

div {
  /* outline: 1px solid #666; */
}

@font-face {
  font-family: "Warnock Pro";
  src: url("./fonts/Warnock-Pro_48450.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Warnock Pro";
  src: url("./fonts/WarnockPro-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

.page {
  margin: auto;
}

header {
  clear: left;
  background-image: url(./image/background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 500px;
  font-family: Warnock Pro;
  font-weight: bold;
}

.header__social {
  height: 80px;
  margin-left: 20%;
  float: left;
  overflow: visible;
}

.header__ico {
  height: 77px;
  padding-top: 5px;
}

.header__follow {
  white-space: nowrap;
  text-align: center;
  height: 80px;
  line-height: 80px;
  width: 10%;
  float: left;
}

.header__search {
  text-align: right;
}

.logo {
  display: block;
  height: 300px;
}

.header__logo {
  position: absolute;
}

.nav {
  font-size: 2em;
}

.header__nav {
  padding-top: 230px;
  padding-left: 800px;
}

.nav__item {
  float: left;
  padding-right: 1.5%;
  cursor: pointer;
}

.nav__dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  z-index: 1;
}

.nav__dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.nav__item:hover .nav__dropdown-content {
  display: block;
}

.nav__item a:hover {
  color: #ffe36c;
}

.nav__item:hover .nav__button {
  border-bottom: 4px solid #ffe36c;
}

.content {
  clear: both;
  font-family: Warnock Pro;
  font-weight: bold;
  font-size: 2.5em;
  overflow: hidden;
  padding-bottom: 4%;
}

.main-news {}

.content__main-news {
  padding-left: 5%;
  padding-right: 5%;
}

.main-news__image {
  height: 800px;
  background-image: url(./image/7.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.main-news__tittle {
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}

.left-column {}

.content__left-column {
  width: 60%;
  float: left;
}

.right-column {}

.content__right-column {
  width: 40%;
  float: left;
}

.inspiration {
  padding-left: 3%;
  padding-right: 3%;
  box-sizing: border-box;
}

.left-column__inspiration {
  width: 40%;
  float: left;
}

.inspiration__image {
  height: 350px;
  background-image: url(./image/18.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.inspiration__tittle {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.downloads {
  padding-left: 3%;
  padding-right: 3%;
  box-sizing: border-box;
}

.left-column__downloads {
  width: 60%;
  float: left;
}

.downloads__image {
  height: 350px;
  background-image: url(./image/15.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.downloads__tittle {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.season-choice {
  padding-left: 3%;
  padding-right: 3%;
  box-sizing: border-box;
}

.left-column__season-choice {
  width: 100%;
  clear: both;
}

.season-choice__image {
  height: 650px;
  background-image: url(./image/11.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.season-choice__tittle {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.illustrators {
  padding-left: 7%;
  padding-right: 7%;
  box-sizing: border-box;
}

.left-column__illustrators {
  width: 100%;
  clear: left;
}

.illustrators__image {
  height: 650px;
  background-image: url(./image/13.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.illustrators__tittle {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.fashion-shows {
  padding-left: 3%;
  padding-right: 3%;
  box-sizing: border-box;
}

.left-column__fashion-shows {
  width: 100%;
  clear: both;
}

.fashion-shows__image {
  height: 570px;
  background-image: url(./image/10.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.fashion-shows__tittle {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.advertising {
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
}

.right-column__advertising {
  width: 100%;
}

.advertising__image {
  height: 600px;
  background-image: url(./image/6.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.advertising__tittle {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.tendentious {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 50px;
  box-sizing: border-box;
}

.right-column__tendentious {
  width: 100%;
}

.tendentious__image {
  height: 600px;
  background-image: url(./image/20.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.tendentious__tittle {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.films-rating {
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
}

.right-column__films-rating {
  width: 100%;
}

.films-rating__image {
  height: 400px;
  background-image: url(./image/3.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.films-rating__tittle {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.restaurants-rating {
  padding-top: 122px;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
}

.right-column__restaurants-rating {
  width: 100%;
  clear: both;
}

.restaurants-rating__image {
  height: 400px;
  background-image: url(./image/12.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.restaurants-rating__tittle {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

footer {
  clear: left;
  background-image: url(./image/footer.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.registration {
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

.footer__registration {}

.footer__logo {
  height: 220px;
  padding-top: 100px;
  margin: auto;
}

.footer__tittle {
  text-align: center;
  font-weight: bold;
  font-size: 3.5em;
  margin-top: 2%;
  margin-bottom: 2%;
}

.footer__form {
  margin: auto;
  text-align: center;
  font-size: 3em;
  margin-bottom: 50px;
}

.footer__input-section {
  width: 60%;
  margin: auto;
  border-bottom: 4px solid #ffffff;
  text-align: start;
  margin-bottom: 50px;
}

.footer__input {
  border: none;
  background-color: transparent;
  width: 80%;
  text-align: start;
  font-size: 0.8em;
  color: white;
}

input::placeholder {
  color: #ffffff;
}

.footer__submit {
  height: 2em;
  width: 2em;
  vertical-align: bottom;
  cursor: pointer;
}

.footer__checkbox {
  width: 2em;
  height: 2em;
  background-color: #b1b1b1;
  outline: 7px solid #ffe36c;
}

.footer__accept {
  font-size: 0.8em;
}

.copyright {
  background-color: rgba(69, 69, 69, 0.9);
  border: 8px solid rgba(255, 255, 255, 1);
}

.footer__copyright {}

.copyright__links {
  margin: auto;
  padding: 50px;
  font-size: 2em;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

.copyright__link {
  display: inline-block;
  padding-left: 50px;
  cursor: pointer;
}

.copyright__link:hover {
  color: #fecc68;
}

.copyright__attention {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 70px;
  color: #a6a6a6;
  font-size: 2em;
  text-align: center;
}
